{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="alert alert-info alert-dismissible fade show col-6" role="alert">
        Sign in as admin to remove rides.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
      <form action="/all" method="post">
        {% for ride in rides %}
        <br>
        <a href="/ride/{{ ride.id }}"> <font size="+1">{{ ride.name }}</font></a>
        {% if session.user_role == 2 %}
        <input type="radio" name="ride" value="{{ ride.id }}">
        {% endif %}
        {% endfor %}
        {% if session.user_role == 2 %}
        <p><br>
        <input type="submit" value="Remove">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
