<!DOCTYPE html>

<title>RidesApp</title>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav">
      {% if session.user_id %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sign out (<i>{{ session.user_name }}</i>)</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign in</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {% if session.user_role == 2 %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Admin tools</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/new">Add new ride</a>
          <a class="dropdown-item" href="/all">Remove rides</a>
          <a class="dropdown-item" href="/reviews">Remove reviews</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="row">
    <div class="col-6">
      <img src="/static/rollercoaster.jpg" alt="rollercoaster image">
      </div>
    </div>
    <br>
    <h5 style="color:rgb(219, 142, 54);">{{ message }}</h5>
  </div>
</div>

<hr>
{% block content %}{% endblock %}
<hr>