<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Real Rad Rollercoasters</title>

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav">
    {% if session.user_id %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sign out (<i>{{ session.user_name }}</i>)</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign in</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </nav>
</div>

<hr>
{% block content %}{% endblock %}
<hr>